<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Star Wars</span>
    <span class="spacer"></span>
    <a mat-icon-button 
      matTooltip="Películas"
      routerLink="/movies">
      <mat-icon>theaters</mat-icon>
    </a>
    <a mat-icon-button
      matTooltip="Planetas"
      routerLink="/planets">
      <mat-icon>language</mat-icon>
    </a>
    <a mat-icon-button
      matTooltip="Personajes"
      routerLink="/characters">
      <mat-icon>face</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
